*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
PartnerEnablerService/.idea/
PartnerEnablerService/app/build/
PartnerEnablerService/gradle/
PartnerLibrary/.idea/
PartnerLibrary/gradle/
PartnerLibrary/partnerlibrary/.idea/
PartnerLibrary/partnerlibrary/gradle/
PartnerLibrary/partnerlibrary/gradlew
PartnerLibrary/partnerlibrary/gradlew.bat
SampleApp/.idea/
SampleApp/app/build/
SampleApp/app/release/
SampleApp/gradle/
SampleApp/gradlew
SampleApp/gradlew.bat
