<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cariad.technology.sampleapp">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="technology.cariad.vwae.restricted.permission.CAR_MILEAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleApp"
        tools:targetApi="31">
        <activity
            android:name=".CarDataActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="VWAE_Sig_V1"
            android:value="xKGuPxk/Uv31LrxIJ3o2kW5anII0PqTO0URwwJgHTLeT/RtWwek0A3mO9RJdXJNwfaTr/s25dy24zj01rhXrz+oEtaGL4DOcaO57Du91xzfjmv2pNqKTvcFZrQ8NERP+i/L81JOSyiDbc0xQ8Bt1XMjaaNUXT+IFxSwRREO2UQLgTOgBIc9zpM9Dr7vbK8h5cNoZFXVc5CcJ1WrziUAWhXND5FhmVThmeUnJV+sFYCFbKHG3gbZPXrIYD/f3ttAt3x+vCiS5oCho0cvbv2QRil7Ix5so+NejYOyrpRu8QYq/alcLaPzBBdgssLAWOSBF4WGBrl39WSmfc3XqtTVgqw==" />
    </application>

</manifest>